.cards {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 900;
  margin-top: 45px;
}

.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style: none;
}

.card__image {
  height: 282px;
  width: 282px;
}

.card__description {
  display: flex;
  background: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: no-wrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  height: 18px;
  width: 21px;
}

@media screen and (max-width: 680px) {
  .card {
    display: flex;
  }

  .card__list {
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 100%;
  }
}
