.footer {
  margin-left: 200px;
  margin-top: 67px;
  margin-bottom: 80px;
  position: relative;
}

.footer__text {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  opacity: 50%;
  display: flex;
  flex-direction: column;
  text-indent: 20px;
}
