.header {
  margin-top: 45px;
  padding-bottom: 37.25px;
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 1100px) {
  .header {
    width: 126px;
    height: 24px;
    margin-top: 28px;
    margin-right: 167px;
    margin-left: 27px;
  }
}

@media screen and (max-width: 680px) {
  .header {
    width: 126px;
    height: 24px;
    margin-top: 28px;
    margin-right: 167px;
    margin-left: 27px;
  }
}
